<!DOCTYPE html>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Freckle+Face&family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
<body>
    <nav>
        <div class="nav">
            <img src=" images/pen.png" alt="Pen Image"/>
            <ul type="none">
                <li><button class="btn" onclick="window.location.href = '/'">Home</button></li>
                <li><button class="btn" onclick="window.location.href = '/posts'">Posts</button></li>
                <li><button class="btn" onclick="window.location.href = '/about'">About</button></li>
                <li><button class="btn" onclick="window.location.href = '/contact'">Contact</button></li>
            </ul>
        </div>
    </nav>

    </div>
</body>
</html>